@mixin signUpStyles {
  font-size: 12px;
  font-weight: 500;
  color: rgba(53, 61, 102, 1);
}

.form-container {
  padding: 30px 16px;
  width: 90%;
  background-color: #ffffff;
  border-radius: 5px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: rgba(104, 104, 104, 1);

  h5 {
    font-size: 13px;
    font-weight: 400;
  }
}

.google-signup-btn {
  @include signUpStyles();
  margin: 20px 0 5px 0;
  border: 1.5px solid rgba(51, 108, 251, 1);
  border-radius: 5px;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 7px 0;
  transition: all 0.2s;

  &:hover {
    border-color: rgb(227, 227, 227);
  }
}

.or {
  margin-bottom: 5px;
  font-size: 11px;
  color: rgba(104, 104, 104, 1);
}

.signUp-with-Details {
  @include signUpStyles();
}

form {
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: rgba(53, 61, 102, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

input {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  background-color: rgba(245, 245, 245, 1);
  padding: 5px;
  margin-bottom: 30px;
}

.terms-of-service {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  word-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 20px;

  a {
    color: rgba(51, 108, 251, 1);
    font-weight: 600;
    transition: all 0.2s;

    &:hover {
      color: rgb(12, 36, 64);
    }
  }
}

.sign-up-btn {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: rgba(51, 108, 251, 1);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  transition: all 0.2s;

  &:hover {
    background-color: rgb(12, 36, 64);
  }
}

.login-instead {
  text-align: center;

  a {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: rgba(51, 108, 251, 1);
    transition: all 0.2s;

    &:hover {
      color: rgb(12, 36, 64);
    }
  }
}
